@font-face {
  font-family: 'Conv_manteka';
  src: url('../fonts/manteka.eot');
  src: local('☺'), url('../fonts/manteka.woff') format('woff'), url('../fonts/manteka.ttf') format('truetype'), url('../fonts/manteka.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

